/target

.lethetic/
wayland_cube/
.last-response
.last_context
.requests
.responses
last_context
last-response
requests
responses
responses.jsonl

# Scratch and experimental C files
compile_cube.sh
cube.c
main.c
